/* Light mode style */
.main.light {
    background-color: #fff !important;
    color: #333 !important;
}

/* Dark mode style */
.main.dark {
    background-color: #333 !important;
    color: #fff !important;
}



/* 


.light > * {    
    background-color: #fff !important;
    color: #333 !important;
} */